.img-gradient img {
    display: block;
}

.btn-color:hover {
    background-color: #FF3811;
    ;
}

.btn-custom {
    background-color: #FF3811;
    border: none;
}

.btn-custom:hover {
    background-color: #dd3514;
}

.text-color-custom {
    color: #FF3811;
}